:root {
    --primary-green: hsl(75, 94%, 57%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 20%);
    --neutral-dark-grey:  hsl(0, 0%, 12%);
    --neutral-off-black: hsl(0, 0%, 8%);
    --inter: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('/fonts/Inter-variable.ttf') format('truetype');
    font-style: normal;
  }
  
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    font-family: var(--inter);
}