:root {
    --primary-green: hsl(75, 94%, 57%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 20%);
    --neutral-dark-grey:  hsl(0, 0%, 12%);
    --neutral-off-black: hsl(0, 0%, 8%);
    --inter: 'Inter', sans-serif;
}

@font-face {
    font-family: "Inter";
    src: 
    local("Inter"),
    url(fonts/Inter-variable.ttf) format(TrueType);
}
  
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    font-family: var(--inter);
    background-color: var(--neutral-off-black);
}

.card {
    background-color: var(--neutral-dark-grey);
    padding: 1rem;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    gap: 1rem;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
}

h1 {
    color: var(--neutral-white);
}
.social-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

button {
    background-color: var(--neutral-grey);
    border: none;
    flex: 1;
    padding-block: 0.5rem;
    border-radius: 20px;
}